.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 34px;
    gap: 15px;
  }
  .option {
    font-family: "Montserrat";
    width: 341px;
    margin-bottom: 10px;
    border-radius: 60px;
    background: #1B1B1B;
    height: 58px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition: 0.2s;
    cursor: pointer;
  }

  .option:hover {
    font-size: 17px;
    background-color: #000000;
  }

  .game-character-img img{
    padding: 8px;
    border-radius: 25px;
    background: #2323238c;
  }

.header{
    width: 100%;
    margin-top: -145px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(12.5px);
    height: 150px;
}

.main_block{
    background-image: url(../images/game-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.game_block{
    padding: 100px 0px;   
}

.game_inner{
    padding: 57px 44px;
    width: 805px;
    height: 650px;
    margin: 0 auto;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(25px);
}

.game-first{
    display: flex;
    justify-content: center;
    gap: 90px;
}

.timer-buttons{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timer-buttons button{
    font-family: "Montserrat";
    width: 125px;
    height: 58px;
    border-radius: 60px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    border-radius: 60px;
    background: #1B1B1B;
    cursor: pointer;
    transition: 1s;
}

.timer-buttons button:hover{
    background-color: #000000;
    border: 1px solid #D37015;
}

.startBtn{
    width: 266.381px !important;
    background: #D37015 !important;
}

.startBtn:hover{
    border: none !important;
    background: #b05d10 !important;
}

.btnn{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.timet{
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    margin-top: 3px;
}

.timet span{
    color: #30B054;
}

#result{
    margin-top: 25px;
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
}

.game-title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #FFF;
    border-radius: 50px 50px 0px 0px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(12.5px);
    width: 217px;
    height: 44px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 3px;
}

.ok{
    color: #30B054;
    border:1px solid #30B054;
}

.error{
    color: #E02A2A;
    border: 1px solid #E02A2A;
}
