.header{
    margin-top: -10px;
}

h1{
    margin-bottom: 73px;
}

.main_block-premiera{
    background-image: url(../images/premiera-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 180px;
}

.title-red{
    color: #E02A2A;
}

.main-img img{
    width: 570px;
    height: 404.145px;
    padding: 11px;
    background: rgba(28, 28, 28, 0.40);
}

.inner_main{
    gap: 80px;
}

.towns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 123px;
    margin-bottom: 123px;
}

.towns span{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3.2px;
    cursor: pointer;
    transition: 0.5s;
}

.towns span:hover{
    font-size: 18px;
    text-shadow: 0 0 10px #fff;
    font-weight: 700;
}

.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #ffffff; /* Цвет стрелки */
    position: relative;
    animation: arrowAnimation 1s infinite; /* Анимация */
}

.arrow::before {
    content: '';
    position: absolute;
    top: -13px;
    left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff; /* Цвет стрелки */
    filter: blur(15px); /* Размытие, создающее эффект свечения */
  }
  
@keyframes arrowAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Анимация подъема */
    }
    100% {
      transform: translateY(0);
    }
}
  

/* TAB SLIDER */

.tab_slider{
    margin-top: 158px;
}

.tab-info{
    border-radius: 14.865px;
    background: #000;
}

.tab-title{
    background-image: url(../images/tab-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 177px;
    width: 665.135px;
    padding-top: 17px;
    padding-left: 30px;
}

.tab-title p{
    width: 504.757px !important;
    font-size: 45px !important;
    font-weight: 700 !important;
    opacity: 1 !important;
}

.tab_content_block {
    width: 691px;
    height: 406px;
    padding: 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.tab_content_block p {
    color: white;
    opacity: 0.6;
    font-size: 20px;
    font-weight: 400;
    width: 648px;
    margin-top: 22px;
    text-align: justify;
}

.tab_content_items {
    width: 266.381px;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.orange-span{
    color: #D37015;
}

.tab_content_item {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: grid;
    place-content: center;
    border-radius: 60px;
    background: #D37015;
    width: 266.381px;
    transition: 0.5s;
}

.tab_content_item_active {
    background: black;
    color: #D37015;
    box-shadow: 0 0 15px rgb(255, 129, 2); 
    font-size: 20px;
    border: 1px solid rgb(255, 129, 2);
}

.tab_contents_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}


/* MOVE BLOCK */

.move_block {
    background: black;
    padding: 100px 0 183px 0;
}

.move_block h3{
    font-size: 56.296px;
    font-weight: 800;
}


.parent_block {
    position: relative;
    width: 800px; 
    height: 366px;
    border-radius: 400px/190px;
    border: 2px solid #FFF; 
    margin: 0 auto;
    background-image: url(../images/parentBlock.png);
    background-size: 498px 243px;
    background-repeat: no-repeat;
    background-position: center; /* Разместить изображение по центру */
}
.circle {
    position: absolute;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    border-radius: 50%;
    background-color: #D37015; /* Цвет круга */
    color: white; /* Цвет текста */
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.circle .tourCityName-bottom {
    position: absolute;
    bottom: -35px; 
    left: 0px;
}

.circle .tourCityName-aside{
    position: absolute;
    top: -30px;
    left: 30px; /* Задайте отступ от круга до текста */
    /* left: 50%; /* Положение текста (можно использовать другие значения) */
    /* transform: translateX(-50%) */ 
}

.circle .tourCityName-right{
    position: absolute;
    top: -2px;
    left: 50px;
}

.circle .tourCityName-top{
    position: absolute;
    bottom: 80px;
    left: -2px;
}

.circle .tourCityName-aside-top{
    position: absolute;
    bottom: 35px;
    left: 10px;
}

.city1 {
    width: 67px;
    height: 67px;
    left: 40px; /* Измените координаты для первого круга */
    top: 40px; /* Измените координаты для первого круга */
}

.city2 {
    width: 16px;
    height: 16px;
    left: 280px; /* Измените координаты для второго круга */
    top: -5px; /* Измените координаты для второго круга */
}

.city3 {
    width: 29px;
    height: 29px;
    left: 610px; /* Измените координаты для третьего круга */
    top: 15px; /* Измените координаты для третьего круга */
}

.city4 {
    width: 35px;
    height: 35px;
    left: 767px; /* Измените координаты для четвертого круга */
    top: 210px; /* Измените координаты для четвертого круга */
}

.city5 {
    width: 53px;
    height: 53px;
    left: 250px; /* Измените координаты для пятого круга */
    top: 330px; /* Измените координаты для пятого круга */
}

.child_block {
    position: absolute;
    top: 0;
    width: 39px;
    height: 63px;
    background-image: url(../images/mask.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.inner_move_block {
    margin-top: 120px;
}




/*------CARD SWITCHER------*/

.card_switcher {
    background-image: url(../images/cardswitcher.png);
    padding: 222px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 777px;
    height: 284px;
    background-color: #000;
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.25);
    border-radius: 14.865px;;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.card p {
    color: white;
    font-size: 30px;
}

.card span {
    color: #D37015;
    font-size: 30px;
}

.cardswitcher-btn{
    width: 71px;
    height: 71px;
    border-radius: 50%;
    border: none;
    color: #FFF;
    background-color: #D37015;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.cardswitcher-btn:hover{
    background-color: #86470c;
}

.inner_card_switcher {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-------CONVERTER--------*/


.converter {
    padding: 100px 0;
    background-color: black;
}

.inner_converter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.inner_converter > div {
    display: flex;
    flex-direction: column;
}

/*------WEATHER------*/

.weather {
    padding: 100px 0;
    background-color: black;
}

.inner_weather > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 25px;
}

.inner_weather {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr {
    width: 100%;
}

._error{
    box-shadow: 0 0 30px red;
}