/* FOOTER */

.footer {
    color: #FFF;
    width: 100%;
}

.footer_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
    gap: 400px;
}

.logo{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 25.522px;
    font-weight: 900;
    letter-spacing: 5.104px;
    position: relative;
    margin-bottom: 16.22px;
}

.filter_logo{
    text-transform: uppercase;
    color: #D37015;
    font-size: 25.522px;
    font-weight: 900;
    letter-spacing: 5.104px;
    filter: blur(15px);
    position: absolute;
    top: 10;
}

.footer_menu{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25.42px;
    margin-bottom: 19.36px;
}

.copyright{
    color: #848895;
    line-height: 27.3px; 
}

.second_block{
    display: flex;
    gap: 60px;
}

.pages{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.pages span{
    text-transform: uppercase;
}

.pages a {
    color: #848895;
    font-size: 15px;
    line-height: 27.3px;
    transition: 0.3s;
}

.pages a:hover{
    text-shadow: 0 0 10px #fff;
    transition: 0.3s;
    font-weight: 500;
}