:root {
    --index: calc(1vw + 1vh);
}

::-webkit-scrollbar {
    width: 0;
}


/* PHONE CHECKER */

.phone_block {
    background: black;
    padding: calc(var(--index) * 3) 0;
}

.inner_phone_block {
    margin-top: calc(var(--index) * 2.85);
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    height: calc(var(--index) * 15);
    border-radius: calc(var(--index) * 1);
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

.btn {
    letter-spacing: calc(var(--index) * .2);
    font-size: calc(var(--index) * .65);
}

#phone_input {
    width: calc(var(--index) * 15);
    text-align: center;
    color: #fff;
    background-color: #313131;
}

.checker {
    font-size: calc(var(--index) * 1.45);
    font-weight: 700;
    text-shadow: 0 0 15px #5c5c5c;
}

/*------CARD SWITCHER------*/

.card_switcher {
    background-color: rgb(20, 20, 20);
    padding: calc(var(--index) * 3) 0;
}

.card {
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 12);
    border: 1px solid var(--orange);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: calc(var(--index) * 1);
}

.card p {
    color: #fff;
    font-size: calc(var(--index) * 1.25);
}

.card span {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.inner_card_switcher {
    background-color: #1f1f1f;
    border-radius: 25px;
    margin: calc(var(--index) * 3) calc(var(--index) * 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    margin: calc(var(--index) * 3);
}




/*------WEATHER------*/

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(var(--index) * 3) 0;
    background-color: none;
    height: 100vh;
    z-index: 2;
}

.weather h3 {
    color: #e0e0e0;
    text-shadow: 0 0 12px #4b4b4b;
    margin-bottom: calc(var(--index) * 3);
}

input {
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 2.25);
    text-align: center;
    border-radius: 10px;
    color: #9c9c9c;
    background-color: transparent;  
}

.inner_weather>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: calc(var(--index) * 1.25);
    color: #e0e0e0;
}

.inner_weather {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1.25);
    margin-top: 20px;
}

hr {
    width: calc(var(--index) * 16);
    animation: hrAnimation 2.25s linear forwards;
}

@keyframes hrAnimation {
    0% {
        width: calc(var(--index) * 1);
    }

    25% {
        width: calc(var(--index) * 4);
    }

    50% {
        width: calc(var(--index) * 8);
    }

    75% {
        width: calc(var(--index) * 14);
    }

    100% {
        width: calc(var(--index) * 20);
    }
}

.city {
    font-size: calc(var(--index) * 1);
    text-shadow: 0 0 25px #313131;
}

.temp {
    font-size: calc(var(--index) * 1);
    text-shadow: 0 0 12px #313131;
}

.coords {
    font-size: calc(var(--index) * 1);
    text-shadow: 0 0 12px #313131;
}

.weather_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--index) * 5);
    height: calc(var(--index) * 1.65);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .4s ease;
}

.weather_btn:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.6);
}

.weather_btn:active {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.8);
    transform: translateY(3px);
}

.weather_video {
    position: absolute;
    filter: blur(3px);
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}