body {
    overflow-x: hidden;
}

:root {
    --index: calc(1vw + 1vh);
}

::-webkit-scrollbar {
    width: 0;
  }

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    transition: .4s linear;
}

.header.hide {
    transform: translateY(-100px);
}

.logo {
    font-size: 32px;
    color: #fff;
    text-shadow: 0 0 15px #6b6b6b;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 0 25px #000000;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* BUTTON CLICK */
.btn-click {
    display: inline-block;
    padding: 12px 24px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    outline: none;
}

.btn-click:hover {
    background-color: #656565;
    transform: translateY(-2px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.btn-click:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.btn-click:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(52, 152, 219, 0.4);
}

/* BUTTON-COLOR-CHANGER*/
.btn {
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: .4s;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* MAIN BLOCK */

.main_block {
    padding: 100px 0;
    background: black;
}

/* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-color {
    border-radius: 20px;
    border-color: white !important;
}

/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}


/* TAB-SLIDER then Slider-Block*/
.tab-slider {
    height: 100vh;
    position: relative;
    top: 0;
}

.item .img-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: 1s ease;
    transition-delay: .3s;
    overflow: hidden;
}

.item .img-box::before {
    content: '';
    position: absolute;
    right: 27%;
    width: 500px;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    filter: blur(200px);
}

.item.active .img-box,
.item.previously-active .img-box {
    transition-delay: .3s;
}

.item.active .img-box {
    transform: translateY(0);
}

.item.back-active .img-box {
    transition: none;
}

.item:nth-child(1) .img-box {
    /* background-color: цвет под картинку №1, тип новая картинка новый цвет; */
    background-color: rgb(93, 87, 87);
}

.item:nth-child(2) .img-box {
    background-color: rgb(212, 198, 0);
}

.item:nth-child(3) .img-box {
    background-color: rgb(164, 91, 91);
}

.item:nth-child(4) .img-box {
    background-color: rgb(195, 49, 49);
}

.img-box img {
    position: absolute;
    bottom: calc(var(--index) * 5.2);
    width: 100%;
    left: 20%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    transform: translateY(20%);
}

.item .info-box {
    position: absolute;
    left: 18%;
    top: 35%;
    transform: translateX(-50%);
    width: 450px;
    height: 280px;
    z-index: 1;
    overflow: hidden;
}

.item.active .info-box {
    z-index: 2;
}

.info-box .info-slider {
    transition: 1s cubic-bezier(0.68, -0.55, 0.1, 1);
}

.info-slider .info-item {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transform: translateX(calc(var(--i) * 100%));
}

.info-item h2 {
    font-size: 40px;
    line-height: 1;
}

.info-item p {
    font-size: 16px;
    margin: 15px 0 20px;
}

.info-item .btnTabSlider {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 47px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.info-item .btnTabSlider:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.info-item .btnTabSlider:active {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    transform: translateY(1px);
}

.thumb {
    position: absolute;
    right: 3%;
    top: 18%;
    transform: translateX(-50%);
    list-style: none;
    z-index: 100;
}

.thumb li {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 25px 0;
    overflow: hidden;
}

.thumb li.selected {
    border: 3px solid #fff;
}

.thumb li.disabled {
    pointer-events: none;
}

.thumb li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* MODAL */

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 200px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: black;
    border: 2px solid var(--orange);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.modal_input,
.btn_min {
    width: 100% !important;
    margin-top: 10px;
}


/*-------BOTTLE-------*/

.botlle {
    background: black;
    padding: 100px 0;
}

.bottle_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bowl {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 8px solid transparent;
    animation: animate 5s linear infinite;
    transform-origin: bottom center;
    animation-play-state: run;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(22deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-22deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.bowl::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    border: 15px solid #444;
    border-radius: 50%;
    box-shadow: 0 10px #222;

}

.bowl::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    transform-origin: center;
    animation: animatebowlshadow 5s linear infinite;
    border-radius: 50%;
    animation-play-state: running;

}


@keyframes animatebowlshadow {
    0% {
        left: 50%;
        width: 150px;
        height: 60px;
    }

    25% {
        left: 55%;
        width: 140px;
        height: 65px;
    }

    50% {
        left: 50%;
        width: 150px;
        height: 60px;
    }

    75% {
        left: 45%;
        width: 140px;
        height: 65px;
    }

    100% {}
}


.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #1ae907;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #1ae907);
    transform-origin: top center;
    animation: animateliquid 5s linear infinite;
    animation-play-state: running;
}

@keyframes animateliquid {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-22deg);
    }

    30% {
        transform: rotate(-23deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(22deg);
    }

    80% {
        transform: rotate(23deg);
    }

    100% {
        transform: rotate(0deg);
    }


}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #15be05;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #15be05);
}

.shadow {
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: animateshadow 5s linear infinite;
    animation-play-state: running;

}

@keyframes animateshadow {
    0% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }

    25% {
        left: 55%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }

    50% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }

    75% {
        left: 45%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }

    100% {}
}