body {
    overflow-x: hidden;
}

:root {
    --index: calc(1vw + 1vh);
}

::-webkit-scrollbar {
    width: 0;
  }


/* MAIN BLOCK */

.main_block {
    padding: 100px 0;
    background: black;
}

.inner_main {
    display: flex;
    flex-direction: column-reverse;
    gap: 5vw;
}

/* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-color {
    border-radius: 20px;
    border-color: white !important;
}

/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}


.wrapper {
    overflow-y: auto;
    /* scroll-snap-type: y mandatory; */
}

/* TAB-SLIDER then Slider-Block*/
.tab-slider {
    height: 100vh;
    position: relative;
    top: 0;
    /* scroll-snap-align: start; */
}

.item .img-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: 1s ease;
    transition-delay: .3s;
    overflow: hidden;
}

.item .img-box::before {
    content: '';
    position: absolute;
    right: 27%;
    width: calc(var(--index) * 5);
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    filter: blur(calc(var(--index) * 5));
}

.item.active .img-box,
.item.previously-active .img-box {
    transition-delay: .3s;
}

.item.active .img-box {
    transform: translateY(0);
}

.item.back-active .img-box {
    transition: none;
}

.item:nth-child(1) .img-box {
    /* background-color: цвет под картинку №1, тип новая картинка новый цвет; */
    background-color: rgb(80, 80, 80);
}

.item:nth-child(2) .img-box {
    background-color: rgb(212, 198, 0);
}

.item:nth-child(3) .img-box {
    background-color: rgb(218, 218, 218);
}

.item:nth-child(4) .img-box {
    background-color: rgb(10, 10, 10);
}

.img-box img {
    position: absolute;
    bottom: calc(var(--index) * 5.2);
    width: 100%;
    left: 20%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    transform: translateY(20%);
}

.item .info-box {
    position: absolute;
    left: 18%;
    top: 35%;
    transform: translateX(-50%);
    width: calc(var(--index) * 23);
    height: calc(var(--index) * 15);
    margin: 0 calc(var(--index) * 5) 0;
    /* text-align: center; */
    z-index: 1;
    overflow: hidden;
}

.item.active .info-box {
    z-index: 2;
}

.info-box .info-slider {
    transition: 1s cubic-bezier(0.68, -0.55, 0.1, 1);
}

.info-slider .info-item {
    height: calc(var(--index) * 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    transform: translateX(calc(var(--i) * 100%));
}

.info-item h2 {
    font-size: calc(var(--index) * 1.3);
    line-height: 1;
}

.info-item p {
    font-size: calc(var(--index) * .75);
    margin: calc(var(--index) * 0.55) 0 calc(var(--index) * 0.55);
}

.info-item .btnTabSlider {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--index) * 7.5);
    height: calc(var(--index) * 2);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .4s ease;
}

.info-item .btnTabSlider:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.6);
}

.info-item .btnTabSlider:active {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.8);
    transform: translateY(3px);
}

.thumb {
    position: absolute;
    right: 3%;
    top: 18%;
    transform: translateX(-50%);
    list-style: none;
    z-index: 1;
}

.thumb li {
    width: calc(var(--index) * 3.5);
    height: calc(var(--index) * 3.5);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: calc(var(--index) * 1.5) 0;
    overflow: hidden;
    transition: .6s ease;
}

.thumb li:hover {
    transform: scale(1.01);
    box-shadow: 0 0 25px rgba(0, 0, 0, .9);
}

.thumb li:active {
    transform: scale(.95);
}

.thumb li.selected {
    border: 3px solid #fff;
}

.thumb li.disabled {
    pointer-events: none;
}

.thumb li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SWIPER */
body {
    transition: 1s ease;
}

body::before {
    content: '';
    position: absolute;
    left: 3.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
    height: 800px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    filter: blur(200%);
}

.carousel {
    position: relative;
    height: 100vh;
    /* scroll-snap-align: start; */
}

.img-box-swiper {
    position: absolute;
    top: 90%;
    left: -40%;
    transform: translateY(-50%);
    width: calc(var(--index) * 44);
    height: calc(var(--index) * 44);
    border-radius: 50%;
}

.img-box-swiper .img-list {
    height: inherit;
    transform: rotate(-120deg);
}

.img-list .img-slider {
    height: inherit;
    transition: 1s ease;
}

.img-slider .img-item {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(calc(-360deg / 4 * var(--i))) scale(.4);
    transform-origin: calc(var(--index) * 22);
    transition: 1s ease;
}

.img-slider .img-item.active {
    transform: translateY(-50%) rotate(calc(-360deg / 4 * var(--i))) scale(1) translateX(-60%);
    z-index: 1;
}

.img-item .item-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

.img-item .item-swiper img {
    transform: rotate(calc(360deg / 4 * var(--i))) rotate(120deg);
    opacity: 0;
    filter: blur(8px);
    transition: 1s ease;
}

.img-item.active .item-swiper img {
    width: calc(var(--index) * 55);
    filter: blur(0);
    opacity: 1;
}

.info-box-swiper {
    position: absolute;
    right: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 23);
}

.info-box-swiper .info-item-swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--index) * 2) 0 0 calc(var(--index) * 2);
    padding: calc(var(--index) * 2.25);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateX(100%);
    opacity: 0;
    box-shadow: none;
    transition: transform 1s ease, opacity .3s ease, box-shadow 1s ease;
}

.info-item-swiper.active {
    transform: translateX(0);
    box-shadow: 0 0 calc(var(--index) * 2) rgba(0, 0, 0, .2);
    opacity: 1;
}

.info-item-swiper h2 {
    color: #f0f0f0;
    font-size: calc(var(--index) * 1.4);
}

.info-item-swiper h2:nth-child(2) {
    font-weight: 400;
    color: #cfcfcf;
    text-transform: none;
    top: calc(var(--index) * -12);
    margin: 0 0 calc(var(--index) * 2) 0;
}

.colors span {
    position: relative;
    color: #FFF;
    display: inline-block;
    width: calc(var(--index) * 2);
    height: calc(var(--index) * 2);
    background: red;
    border-radius: 50%;
    margin-right: 15px;
}

.colors span p {
    position: absolute;
    width: calc(var(--index) * 5);
    left: 0;
    font-size: calc(var(--index) / 1.85);
    top: 15%;
    bottom: calc(var(--index) * 1);
}

.colors span.active {
    outline: 3px solid #fff;
}

.colors span:nth-child(1) {
    background: #505050;
}
.colors span:nth-child(2) {
    background: #d4c600;
}
.colors span:nth-child(3) {
    background: #dadada;
}
.colors span:nth-child(4) {
    background: #0a0a0a;
}

.info-item-swiper p {
    font-size: calc(var(--index) / 1.75);
    margin: calc(var(--index) * 2) 0 calc(var(--index) * 1);
    text-shadow: 0 0 calc(var(--index) * 2) #000;
}

.info-item-swiper .swiper-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--index) * 5.5);
    height: calc(var(--index) * 1.75);
    background: #fff;
    border-radius: calc(var(--index) * 2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: calc(var(--index) / 1.65);
    color: #333;
    text-decoration: none;
    font-weight: 700;
    transition: transform 1s ease, color .6s ease, background-color .6s ease;
}

.info-item-swiper .swiper-btn:hover {
    transform: scale(1.05);
    color: #e2e2e2;
    background-color: #464646;
}

.info-item-swiper .swiper-btn:active {
    transform: scale(0.9);
}

.navigation {
    position: absolute;
    left: 45%;
    bottom: 7%;
    width: calc(var(--index) * 6.5);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.navigation span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--index) * 2.5);
    height: calc(var(--index) * 2.5);
    background: rgba(175, 175, 175, 0.5);
    border-radius: 50%;
    cursor: pointer;
    font-size: 55px;
    color: #fff;
    transition: transform .4s ease, color .6s ease, background-color .6s ease;
}

.navigation span p {
    font-size: calc(var(--index) / 1.9);
    color: #FFF;
}

.navigation span:hover {
    transform: scale(1.05);
    color: #e2e2e2;
    background-color: #464646;
}

.navigation span:active {
    transform: scale(0.9);
}

/* CTRL + H - поиск */